<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
        
    <meta charset="UTF-8">
    <title></title>
    
</head>
<body>
    <!-- navigation bar -->
    <nav>

    </nav>
    <div id="main-section">
        <!-- room section -->
       <na id="sidebar">

       </na>
       <div id="rightside-panel">
           <div id="=display-message-section">
               
           </div>
           <div id="input-area">
               <input type="text" id="user_message" placeholder="Type here..." autocomplete="off">
               <button type="button" id="send_message">SEND</button>

            </div>
       </div>

       </div>

    <!-- SOCKETIO JS  -->
    
     <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

     <!-- Custom socketIO  -->
     <!-- <script src="{{ url_for('static', filename='scripts/socketio.js') }}"></script> -->
      <!-- Custom SocketIO JS -->
      <script src="{{ url_for('static', filename='scripts/socketio.js') }}"></script>
      <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> -->

</body>
</html> 